@charset "utf-8";
/* 초기화 */
* {box-sizing: border-box;
    margin: 0;
    padding: 0;}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}
:root {
    --primary-color: #2c3e50;
    --accent-color: #e74c3c;
    --light-gray: #f5f6fa;
}
h1 {
    color: #2c3e50;
}
p {
    color: #34495e;
}
ul{
    /* display: flex; */
    list-style: none;
    /* padding-right: 5px;
    padding: 0 15px;
    margin-right: 35px; */
    /* gap: 20px; */
    column-gap: 50px;
    /* align-items: center; */
}
a { 
    text-decoration: none;
    color: #000; }
hr{display: none;}
em, address, i {
    font-style: normal;
}
*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

/* header */
header {
    /* position: relative;
    top: 0; left: 0;  */
    /* max-width: 900px; */
    /* margin: 50px auto; */
    /* background: white; */
    /* padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; */
    top: 0; left: 0; 
    z-index: 99;
    width: 100%; height: 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fffc;
    /* padding: 10px 20px; */
    /* background-color: var(--primary-color); */
    padding: 1rem; 
    position: fixed;
    
}

header h1 img { width: 95px; height: 50px; margin-left: 250px;
    top: 0; left: 0; 
}
header h1 a {
    overflow: hidden;
}
header a {
    font-weight: bold;
}
#gnb {
    /* margin-top: 5px; */
     position: absolute;
    }
#gnb ul{
    display: flex;
    column-gap: 80px;
    /* padding: 100px 0 100px 0; */
    margin-left: 450px;
    text-align: center;
    justify-content: space-around;
}
#gnb a{
   
}
.membership ul{
    order: 2; margin-right: 35px;
    display: flex;
    column-gap: 25px;
    justify-content: flex-end;
}

.mbmbership a{

}

/* 메인 */
.container {
    max-width: 100%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.introduce{
    display: block;
    text-align: center;
    line-height: 3.2rem;
    font-size: 2.2rem;
    font-weight: 300px;
}
.introduce em{
    /* font-weight: 600px; */
    font-weight: bold;
}
.search-container {
    /* background: white; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
    /* grid-area: contrl; */
    /* height: 6.4rem;
    border-radius: 5rem; */
    /* border-radius: inherit; */
    /* pointer-events: none;
    top: 0;
    left: 0; */
    /* width: 100%;
    height: 100%; */
    /* grid-area: field; */
    /* align-items: flex-start; */
    margin: 3rem auto 2rem;
    justify-content: center;
    /* height: 100vh; */
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
.search-container input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    width: 550px;
    /* margin: 50 auto; */
    justify-content: center;
    display: flex;
}
.search-container button {
    border: none;
    background: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
.search-container button:hover {
    background: #0056b3;
}
.sale-item{
    display: flex;
    justify-content: space-between;
    height: 31.2rem;
    margin-bottom: 6rem;
}
.big-bnr {
    display: inline-flex;
    flex-direction: column;
    width: 58.4rem;
    height: 31.2rem;
    padding: 4.2rem 3.6rem;
    background: #0244D6 url(https://www.serve.co.kr/img/img-apt-group.c7e06491.png) right 2rem bottom 0.4rem no-repeat;
    background-size: 237px auto;
    border-radius: 1.4rem;
    color: #fff;
}
.sale-item .big-bnr > strong{
    line-height: 3.2rem;
    font-size: 2.2rem;
    font-weight: 600;
}
.sale-item .big-bnr > strong > em {
    font-size: 3.2rem;
}
.sale-item .big-bnr > p {
    margin-top: 1.6rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
    color: #fff;
}
.sale-item .big-bnr .btns{
    margin-top: 4rem;
}
.first_button{
    margin-right: 1.4rem;
    width: 11.2rem;
    height: 4.2rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.4rem;
    background: transparent;
    color: #fff;
    font-size: 1.7rem;
}
.btn_overlay {
    transition: none;
    background-color: currentColor;
    border-radius: inherit;
    opacity: 0;
}
.btn_underlay{
    opacity: 0;
    display: none !important;
}
.btn_overlay, .btn_underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.btn_content{
    align-items: center;
    /* display: flex; */
    /* transition: transform, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1); */
    justify-content: center;
    white-space: nowrap;
    flex-direction: column;
    grid-area: inherit;
    line-height: 1;
    align-items: flex-start;
}

.second_button{
    justify-content: flex-start;
    align-items: start;
    width: 18.4rem;
    min-width: auto;
    height: 14.4rem;
    padding: 3rem;
    text-align: left;
    line-height: 1;
    border: 1px solid #e9e9e9;
    border-radius: 1.4rem;
    background-color: #fff;
    background-position: bottom 2.4rem right 2.5rem;
    background-repeat: no-repeat;
    background-image: url(https://www.serve.co.kr/img/ic-sale-01.429da9da.svg);
}
.third_button{
    justify-content: flex-start;
    align-items: start;
    width: 28.4rem;
    min-width: auto;
    height: 14.4rem;
    padding: 3rem;
    text-align: left;
    line-height: 1;
    border: 1px solid #e9e9e9;
    border-radius: 1.4rem;
    background-color: #fff;
    background-position: bottom 2.4rem right 2.5rem;
    background-repeat: no-repeat;
    background-image: url(https://www.serve.co.kr/img/ic-sale-02.81dff537.svg);
}
.fourth_button{
    justify-content: flex-start;
    align-items: start;
    width: 28.4rem;
    min-width: auto;
    height: 14.4rem;
    padding: 3rem;
    text-align: left;
    line-height: 1;
    border: 1px solid #e9e9e9;
    border-radius: 1.4rem;
    background-color: #fff;
    background-position: bottom 2.4rem right 2.5rem;
    background-repeat: no-repeat;
    background-image: url(https://www.serve.co.kr/img/ic-sale-03.fa8821c1.svg);
}
.fifth_button{
    justify-content: flex-start;
    align-items: start;
    width: 28.4rem;
    min-width: auto;
    height: 14.4rem;
    padding: 3rem;
    text-align: left;
    line-height: 1;
    border: 1px solid #e9e9e9;
    border-radius: 1.4rem;
    background-color: #fff;
    background-position: bottom 2.4rem right 2.5rem;
    background-repeat: no-repeat;
    background-image: url(https://www.serve.co.kr/img/ic-sale-04.fa9620a3.svg);
}
.small-bnr .btn_content strong {
    font-size: 2.2rem;
    font-weight: 500;
}
.small-bnr .btn_content span {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: #555;
}

.property-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5rem;
}
.property-list h1{
    padding-top: 3.6rem;
    padding-left: 3rem;
    font-size: 2.4rem;
    font-weight: 600;
}
.property-list h1 ::before, ::after{
    background-repeat: no-repeat;
    box-sizing: inherit;
}
.property {
    background: #fff;
    padding: 15px;
    margin: 10px;
    width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    font-size: 1rem;
}
.property-loca{
    /* padding: 1rem; */
    margin: 1rem 0;
}
.property-price {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #3498db;
}
.property img{
    width: 300px; height: 200px;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    /* font-size: 1.2rem; */
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.cta-button:hover {
    background-color: #2980b9;
}